body {
  background-color: #f9f9f9;
}

/* Card styling */
.image-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between image cards */
  padding: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-family: Arial, sans-serif;
}

/* Image styling */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Content styling */
.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 12px;
}

.card-content p {
  margin: 0;
  color: #555;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* search box */
.search-box {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
  margin: 50px auto;
  border: 2px solid #333;
  border-radius: 25px;
  padding: 5px;
}

.search-box input[type="text"] {
  justify-content: space-around;
  border: none;
  border-radius: 25px;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.search-box button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #555;
}
/* image modal */
/* modal-background */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal container */
.image-modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: -7px;
  right: 4px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  /* color: #ff3b30; */
  cursor: pointer;
}

/* Image */
.modal-image {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

/* Info section */
.modal-info {
  margin-top: 15px;
  text-align: center;
}

/* Photographer link */
.modal-photographer {
  margin-top: 5px;
}

.modal-photographer a {
  color: #007bff;
  text-decoration: none;
}

.modal-photographer a:hover {
  text-decoration: underline;
}

/* Visit Website link */
.modal-url {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.modal-url:hover {
  background-color: #0056b3;
}
